//---Breakpoints
$breakpoint_lrg: 1400px;
$breakpoint_med: 960px;
$breakpoint_small: 767px;
$breakpoint_x_small: 415px;
$max-width: 1400px;

//---Grid
$max_columns: 12; 
$gutter_px: 1px;
$gutter_pc: 0;
$max_content_width: 1440px;


